<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1647974026,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2022\/a1-revisited-executive-order-9066-washington-japanese/",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2022-03-27 06:00:00",
	"modifieddate":"2022-03-21 10:05:42",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"on",
	"section_tier1":"seattle-news",
	"section_tier2":"law-justice",
	"sections_all":"law-justice|life|seattle-news|news",
	"othersections":"law-justice, life, news",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>
