<section class="thin-div">
  <div class="center">A1 Revisited</div>
</section>

<section class="dont-miss">

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/?p=14749677" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/readmore/story1.jpg" alt="Some alt text here">
        </a>
        <div>
          <a href="https://www.seattletimes.com/?p=14749677" target="_blank" rel="noreferrer noopener nofollow">
            The forced removal of Japanese Americans from Bainbridge Island
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/?p=14571308" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/readmore/story2.jpg"
          alt="Crowds jam Seattle’s Marion Street pedestrian overpass to witness the U.S. Army’s mass removal of all Japanese American residents of Bainbridge Island on March 30, 1942. Soldiers had led them onto the ferry, and in Seattle they were put on a train bound for California. The Times did not publish this picture then. (The Associated Press)">
        </a>
        <div>
          <a href="https://www.seattletimes.com/?p=14571308" target="_blank" rel="noreferrer noopener nofollow">
            The Seattle Times’ coverage of the 1942 removal of 227 Bainbridge residents left a harmful legacy
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/?p=14738013" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/readmore/story3.jpg"
          alt="An illustration  by (Gabriel Campanario / The Seattle Times)"
          >
        </a>
        <div>
          <a href="https://www.seattletimes.com/?p=14738013" target="_blank" rel="noreferrer noopener nofollow">
            What life was like for Japanese Americans incarcerated at the Puyallup Fairgrounds
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/?p=14737845" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/readmore/story4.jpg"
          alt="The tailgate of a pickup truck at the historic 40-acre Suyematsu Farm serves as a copy stand for an undated portrait of Yasui Suyematsu and his wife Mitsu, with a crop of strawberries. Next to the portrait is the original 1928 hand-typed trust and real estate agreements which gave ownership of the 40-acre farm to their American-born 8-year-old son Akio and his 9-year-old sister Kimico. (Ken Lambert / The Seattle Times)"
          >
        </a>
        <div>
          <a href="https://www.seattletimes.com/?p=14737845" target="_blank" rel="noreferrer noopener nofollow">
            Meet Bainbridge Island’s last Japanese American farmer
          </a>
        </div>
      </div>
    </div>

</section>
