@import "seattletimes";
@import "comments";

@photo: red;
@lackOfInfo: blue;
@inaccuracy: green;
@sourcing: purple;
@design: aqua;
@slurs: pink;
@inaccurate: orange;
@offensive: gold;
@framing: violet;

.marketing.marketing--sidebar { margin: auto; }

h1 {
  font-size: 3em;
  @media @mobile {
    font-size: 32px;
  }
}

.buttonCon {
  max-width: 920px;
  margin: 0px auto 5px auto;
  padding: 0px 10px;
  text-align: center;

  .flex-group.carousel {
    display: flex;
    font-size: 0px;
    @media @mobile {
    display: inherit;
    }
    .flex {
      width: 33.3%;
      margin: 5px;

      @media @mobile {
        width: 100%;
      }

      button {
        width: 100%;
        height: 100%;
      }
    }
  }

  button {
    background: #0777b3;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px 20px;
    cursor: pointer;

    @media @mobile {
      font-size: 18px;
    }

    &.show {
      background-color: #134763;
    }
  }
}

.header {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.body-text {
  max-width: 720px;
  padding: 10px;
  margin: auto;
}

#iframe {
  width: 90%;
  height: 90vh;
  overflow: scroll;
}

.svg {
  width: ~"calc((100vh * .68) + 5px)";
  height: 100vh;
  position: sticky;
  top: 0;

  img {
    height: 100vh;
    width: auto;
    max-width: none;

    @media @tablet {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  @media @tablet {
    width: 100%;
    z-index: -1;
  }
  svg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    @media @tablet {
      width: 100%;
      height: auto;
    }
  }

  svg text {
    font-size: 40px;
    text-anchor: start;
    stroke: #000;
    stroke-width: 2px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;

    &.show {
      opacity: 1;
    }
  }

  .st5,.st6,.st7,.st8,.st9,.st10,.st11,.st12,.st13 {
    fill-opacity: 0;
    transition: fill-opacity .5s ease-in-out;
  -moz-transition: fill-opacity .5s ease-in-out;
  -webkit-transition: fill-opacity .5s ease-in-out;

    &.show {
      fill-opacity: 0.7;
    }
  }

  button {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    background-color: goldenrod;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover, button:active  {
    background-color: #a27810;
  }
  // max-width: 1000px;
}

.scroll-blocks {
  max-width: 1000px;
  margin: auto;
  .block {
    margin: 50vh auto;
    margin-left: ~"calc((100vh * .68) + 20px)";
    font-family: @df-sans;
    // background-color: #eee;
    // padding: 10px;
    max-width: 600px;

    &.Photoselection {
      background-color: rgba(255,228,175, 0.7);
    }
    &.Lackofinformationunderreporting {
      background-color: rgba(221,162,143, 0.7);
    }
    &.Inaccuracymisrepresentation {
      background-color: rgba(251,192,173, 0.7);
    }
    &.Sourcingerrors {
      background-color: rgba(253,221,215, 0.7);
    }
    &.Designlayout {
      background-color: rgba(255,236,205, 0.7);
    }
    &.Racistlanguage {
      background-color: rgba(216,221,204, 0.7);
    }
    &.Inaccuratelanguage {
      background-color: rgba(193,207,183, 0.7);
    }
    &.Offensivelanguage {
      background-color: rgba(165,187,148, 0.7);
    }
    &.Storyframingfocusbias {
      background-color: rgba(229,216,207, 0.7);
    }

    @media @tablet {
      width: 95%;
      margin: 130vh auto;

      &.Photoselection {
        background-color: rgba(255,228,175, 0.9);
      }
      &.Lackofinformationunderreporting {
        background-color: rgba(221,162,143, 0.9);
      }
      &.Inaccuracymisrepresentation {
        background-color: rgba(251,192,173, 0.9);
      }
      &.Sourcingerrors {
        background-color: rgba(253,221,215, 0.9);
      }
      &.Designlayout {
        background-color: rgba(255,236,205, 0.9);
      }
      &.Racistlanguage {
        background-color: rgba(216,221,204, 0.9);
      }
      &.Inaccuratelanguage {
        background-color: rgba(193,207,183, 0.9);
      }
      &.Offensivelanguage {
        background-color: rgba(165,187,148, 0.9);
      }
      &.Storyframingfocusbias {
        background-color: rgba(229,216,207, 0.9);
      }
    }

    .category {
      width: 100%;
      padding: 10px 5px;
      // color: white;
      font-family: @df-sans;
      font-weight: bold;
      text-align: center;
      font-size: 22px;

      @media @tablet {
        border-bottom: 1px solid @df-dark-gray;
      }

      &.Photoselection {
        background-color: rgba(255,228,175, 1);
      }
      &.Lackofinformationunderreporting {
        background-color: rgba(221,162,143, 1);
      }
      &.Inaccuracymisrepresentation {
        background-color: rgba(251,192,173, 1);
      }
      &.Sourcingerrors {
        background-color: rgba(253,221,215, 1);
      }
      &.Designlayout {
        background-color: rgba(255,236,205, 1);
      }
      &.Racistlanguage {
        background-color: rgba(216,221,204, 1);
      }
      &.Inaccuratelanguage {
        background-color: rgba(193,207,183, 1);
      }
      &.Offensivelanguage {
        background-color: rgba(165,187,148, 1);
      }
      &.Storyframingfocusbias {
        background-color: rgba(229,216,207, 1);
      }
    }

    .example {
      padding-block-end: 10px;

      .example_image {
        max-width: 500px;
        margin: auto;
        padding: 0 10px;
        display: none;

        &.show {
          display: block;
        }

        @media @mobile {
          padding: 0 20px;
        }
      }

      .example_text {
        // background-color: #fff;
        font-size: 17px;
        padding: 10px;
        margin-top: 5px;

        @media @mobile {
          font-size: 16px;

        }

        .numberedCircle {
          display: inline-block;
          width: 22px;
          height: 22px;
          font-size: 20px;
          margin-right: 7px;
          background-color: black;
          color: white;
          font-weight: bold;
          line-height: 1.1em;
          border-radius: 50%;
          text-align: center;
        }
      }
    }

    .example:nth-child(3n) {
      margin-top: 2em;
    }
    .example:nth-child(4n) {
      margin-top: 2em;
    }

    .redact {
        padding: 10px 5px;
        background: #104968;
        border-radius: 5px;
        color: white;
        display: block;
        font-size: 14px;
        // font-weight: bold;
        margin: 3px auto;
        padding: 4px 6px;
        border: none;

      .toggle {
        display: none;
        &.show { display: inline-block; }
      }
    }
    .redact:hover { background-color: black; }

  }

  .block:last-child {
    margin-bottom: 10vh;
  }
}

#allStories {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
}

.secondSvg, .thirdSvg, .fourthSvg {
  width: 100%;
  visibility: hidden;
  position: absolute;
  &.show { visibility: inherit; }

  .cls-1,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8 {
      cursor: pointer;
      fill-opacity: 0.6;
      transition: fill-opacity .5s ease-in-out;
    -moz-transition: fill-opacity .5s ease-in-out;
    -webkit-transition: fill-opacity .5s ease-in-out;

      &.show {
        stroke: black;
        stroke-width: 3px;
      }
   }

  img {
    width: 100%;
  }
}

#refundsFreezesPopup, #topPopup, #tearsPopup  {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 300px;
  background-color: white;
  border: 1px solid black;
  // padding: 10px;

  @media @mobile {
    right: 0;
    margin: auto;
  }

  &.show {
    display: block;
    margin-top: 6px;
  }

  [data-label="label"]  {
    width: 100%;
    padding: 10px;
    // color: white;
    font-family: @df-sans;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;

    @media @mobile {
      font-size: 12px;
      padding: 8px 10px;
    }

    &.Photoselection {
      background-color: rgba(255,228,175, 1);
    }
    &.Lackofinformationunderreporting {
      background-color: rgba(221,162,143, 1);
    }
    &.Inaccuracymisrepresentation {
      background-color: rgba(251,192,173, 1);
    }
    &.Sourcingerrors {
      background-color: rgba(253,221,215, 1);
    }
    &.Designlayout {
      background-color: rgba(255,236,205, 1);
    }
    &.Racistlanguage {
      background-color: rgba(216,221,204, 1);
    }
    &.Inaccuratelanguage {
      background-color: rgba(193,207,183, 1);
    }
    &.Offensivelanguage {
      background-color: rgba(165,187,148, 1);
    }
    &.Storyframingfocusbias {
      background-color: rgba(229,216,207, 1);
    }
  }

  .comment {
    font-family: @df-sans;
    padding: 10px;
    font-size: 17px;
    line-height: 21px;

    @media @mobile {
      font-size: 15px;
    }
  }

  .close {
    background-color: transparent;
    border: none;
    float: right;
    font-size: 1.4em;
    color: @df-middle-gray;
    padding: 0 10px 6px;
  }
}

.thirdSvg {
    svg {
      position: absolute;
      top: 2%;
      left: -1%;
      width: 100%;
      height: auto;
  }
}

.secondSvg {
    svg {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: auto;

      rect[class^='cls'] {
        stroke-width: 1px !important;
      }
  }
}

.fourthSvg {
    svg {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: auto;
  }
}

//sectioning

.flex-3 {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;

  h3 { 
    margin: 10px 0px;
    font-size: 19px;
    min-height: 20px;
  }
  ul { 
    padding: 0px; 
  }

  li {
    list-style: none;
    display: block;
    line-height: 14px;
    margin-bottom: 5px;
    padding-right: 5px;

    .key {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 3px;
      display: inline-block;

      &.Photoselection {
        background-color: rgba(255,228,175, 1);
      }
      &.Lackofinformationunderreporting {
        background-color: rgba(221,162,143, 1);
      }
      &.Inaccuracymisrepresentation {
        background-color: rgba(251,192,173, 1);
      }
      &.Sourcingerrors {
        background-color: rgba(253,221,215, 1);
      }
      &.Designlayout {
        background-color: rgba(255,236,205, 1);
      }
      &.Racistlanguage {
        background-color: rgba(216,221,204, 1);
      }
      &.Inaccuratelanguage {
        background-color: rgba(193,207,183, 1);
      }
      &.Offensivelanguage {
        background-color: rgba(165,187,148, 1);
      }
      &.Storyframingfocusbias {
        background-color: rgba(229,216,207, 1);
      }
      &.redacted { background-color: @df-off-black; }
    }

    p {
      display: inline;
      font-size: 16px;
      vertical-align: middle;
      line-height: 1.6em;
      font-family: @df-sans;
      padding-left: 10px;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  @media @mobile {
    width: 100%;
    display: block;
  }
  // padding: 30px;
  &:last-child {
    padding-right: 0;
  }
}

.directions {
  color: @df-middle-gray;
  font-family: @df-sans;
  font-size: 17px;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px
}

.section {
  max-width: 840px;
  margin: auto;
  padding: 10px;
}

//category key
.change-table {
  // display: flex;
  font-size: 0px;
  padding: 20px 0;
}


//credits
.split {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 110px;
  padding-bottom: 20px;

  @media @tablet {
    flex-wrap: nowrap;
    height: auto;
  }
}

.column {
  flex: 1;
  max-width: 50%;

  @media @mobile {
    flex-basis: 100%;
  }
}
.constrained {
  margin: auto;
  max-width: 900px;
  padding: 0 16px;
  margin-block-end: 60px;
  }
