@import "seattletimes";

@photo: red;
@lackOfInfo: blue;
@inaccuracy: green;
@sourcing: purple;
@design: aqua;
@slurs: pink;
@inaccurate: orange;
@offensive: gold;
@framing: violet;







.header {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.body-text {
  max-width: 720px;
  padding: 10px;
  margin: auto;
}

#iframe {
  width: 90%;
  height: 90vh;
  overflow: scroll;
}

.svg {
  width: ~"calc((100vh * .68) + 5px)";
  height: 100vh;
  position: sticky;
  top: 0;

  img {
    height: 100vh;
    width: auto;
    max-width: none;

    @media @tablet {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  @media @tablet {
    width: 100%;
    z-index: -1;
  }
  svg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    @media @tablet {
      width: 100%;
      height: auto;
    }
  }

  svg text {
    font-size: 40px;
    text-anchor: start;
    stroke: #000;
    stroke-width: 2px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;

    &.show {
      opacity: 1;
    }
  }

  .st5,.st6,.st7,.st8,.st9,.st10,.st11,.st12,.st13 {
    fill-opacity: 0;
    transition: fill-opacity .5s ease-in-out;
  -moz-transition: fill-opacity .5s ease-in-out;
  -webkit-transition: fill-opacity .5s ease-in-out;

    &.show {
      fill-opacity: 0.7;
    }
  }

  button {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    background-color: goldenrod;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover, button:active  {
    background-color: #a27810;
  }
  // max-width: 1000px;
}

.scroll-blocks {
  // width: 50%;
  // margin-left: 50%;
  // width: ~"calc(100 - (100vh * .72538))";



  .block {
    margin: 50vh auto;
    margin-left: ~"calc((100vh * .68) + 20px)";
    font-family: @df-sans;
    // background-color: #eee;
    // padding: 10px;
    max-width: 600px;

    &.Photoselection {
      background-color: rgba(255,228,175, 0.7);
    }
    &.Lackofinformationunderreporting {
      background-color: rgba(221,162,143, 0.7);
    }
    &.Inaccuracymisrepresentation {
      background-color: rgba(251,192,173, 0.7);
    }
    &.Sourcingerrors {
      background-color: rgba(253,221,215, 0.7);
    }
    &.Designlayout {
      background-color: rgba(255,236,205, 0.7);
    }
    &.Racistlanguage {
      background-color: rgba(216,221,204, 0.7);
    }
    &.Inaccuratelanguage {
      background-color: rgba(193,207,183, 0.7);
    }
    &.Offensivelanguage {
      background-color: rgba(165,187,148, 0.7);
    }
    &.Storyframingfocusreporterbias {
      background-color: rgba(229,216,207, 0.7);
    }

    @media @tablet {
      width: 100%;
      margin-left: 0px;
    }

    .category {
      width: 100%;
      padding: 10px 5px;
      // color: white;
      font-family: @df-sans;
      font-weight: bold;

      &.Photoselection {
        background-color: rgba(255,228,175, 1);
      }
      &.Lackofinformationunderreporting {
        background-color: rgba(221,162,143, 1);
      }
      &.Inaccuracymisrepresentation {
        background-color: rgba(251,192,173, 1);
      }
      &.Sourcingerrors {
        background-color: rgba(253,221,215, 1);
      }
      &.Designlayout {
        background-color: rgba(255,236,205, 1);
      }
      &.Racistlanguage {
        background-color: rgba(216,221,204, 1);
      }
      &.Inaccuratelanguage {
        background-color: rgba(193,207,183, 1);
      }
      &.Offensivelanguage {
        background-color: rgba(165,187,148, 1);
      }
      &.Storyframingfocusreporterbias {
        background-color: rgba(229,216,207, 1);
      }
    }

    .example {
      .example_image {
        max-width: 500px;
        margin: auto;
      }

      .example_text {
        // background-color: #fff;
        font-size: 16px;
        padding: 10px;
        margin-top: 5px;

        .numberedCircle {
          display: inline-block;
          width: 22px;
          height: 22px;
          font-size: 20px;
          margin-right: 7px;
          background-color: black;
          color: white;
          font-weight: bold;
          line-height: 1.1em;
          border-radius: 50%;
          text-align: center;
        }
      }
    }

    .example:nth-child(3n) {
      margin-top: 2em;
    }
    .example:nth-child(4n) {
      margin-top: 2em;
    }

  }
}

.thirdSvg {
  width: 100%;
  max-width: 900px;
  margin: auto;
  position: relative;
  img {
    width: 100%;
  }
    svg {
      position: absolute;
      top: 2%;
      left: -1%;
      width: 100%;
      height: auto;
  }

  .cls-1,.cls-2,.cls-3,.cls-4,.cls-5 {
    cursor: pointer;
    fill-opacity: 0.4;
    transition: fill-opacity .5s ease-in-out;
  -moz-transition: fill-opacity .5s ease-in-out;
  -webkit-transition: fill-opacity .5s ease-in-out;

    &.show {
      // fill-opacity: 0.7;
      -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .6));
      filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .6));
    }
  }

  #refundsFreezesPopup {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    // padding: 10px;


    &.show {
      display: block;
    }

    #refunds-label {
      width: 100%;
      padding: 10px;
      // color: white;
      font-family: @df-sans;
      font-weight: bold;

      &.Photoselection {
        background-color: rgba(255,228,175, 1);
      }
      &.Lackofinformationunderreporting {
        background-color: rgba(221,162,143, 1);
      }
      &.Inaccuracymisrepresentation {
        background-color: rgba(251,192,173, 1);
      }
      &.Sourcingerrors {
        background-color: rgba(253,221,215, 1);
      }
      &.Designlayout {
        background-color: rgba(255,236,205, 1);
      }
      &.Racistlanguage {
        background-color: rgba(216,221,204, 1);
      }
      &.Inaccuratelanguage {
        background-color: rgba(193,207,183, 1);
      }
      &.Offensivelanguage {
        background-color: rgba(165,187,148, 1);
      }
      &.Storyframingfocusreporterbias {
        background-color: rgba(229,216,207, 1);
      }
    }

    .comment {
      font-family: @df-sans;
      padding: 10px;
    }

    .close {
      padding-top: 5px;
      background-color: transparent;
      border: none;
      float: right;
      font-size: 1.5em;
      color: @df-blue;
    }
  }
}

.secondSvg {
  width: 100%;
  max-width: 900px;
  margin: auto;
  position: relative;
  img {
    width: 100%;
  }
    svg {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: auto;
  }

  .cls-1,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8 {
    cursor: pointer;
    fill-opacity: 0.4;
    transition: fill-opacity .5s ease-in-out;
  -moz-transition: fill-opacity .5s ease-in-out;
  -webkit-transition: fill-opacity .5s ease-in-out;

    &.show {
      // fill-opacity: 0.7;
      -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .6));
      filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .6));
    }
  }

  #tearsPopup {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    // padding: 10px;


    &.show {
      display: block;
    }

    #tears-label {
      width: 100%;
      padding: 10px;
      // color: white;
      font-family: @df-sans;
      font-weight: bold;

      &.Photoselection {
        background-color: rgba(255,228,175, 1);
      }
      &.Lackofinformationunderreporting {
        background-color: rgba(221,162,143, 1);
      }
      &.Inaccuracymisrepresentation {
        background-color: rgba(251,192,173, 1);
      }
      &.Sourcingerrors {
        background-color: rgba(253,221,215, 1);
      }
      &.Designlayout {
        background-color: rgba(255,236,205, 1);
      }
      &.Racistlanguage {
        background-color: rgba(216,221,204, 1);
      }
      &.Inaccuratelanguage {
        background-color: rgba(193,207,183, 1);
      }
      &.Offensivelanguage {
        background-color: rgba(165,187,148, 1);
      }
      &.Storyframingfocusreporterbias {
        background-color: rgba(229,216,207, 1);
      }
    }

    .comment {
      font-family: @df-sans;
      padding: 10px;
    }

    .close {
      padding-top: 5px;
      background-color: transparent;
      border: none;
      float: right;
      font-size: 1.5em;
      color: @df-blue;
    }
  }
}
